body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    background: black;
    border: 3px solid lime;
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    background: lime;
    border: none;
    cursor: pointer;
}

.topbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* LOGIN */

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

.login-box {
    background: #222;
    padding: 40px;
    border: 2px solid lime;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* LOJA */

.loja {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 20px;
    border: 2px solid lime;
    display: none;
    width: 400px;
}

.skins-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skin {
    border: 1px solid white;
    padding: 10px;
}